/* css début de page*/

html {
    font-size: 62.5%;
}

*,::before, ::after {
  box-sizing:border-box;
    margin:0px;
    padding:0px;
}

body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}


/* navigation */

nav{
    position:fixed;
    height:70px;
    width:100%;
    background-color: black;
    z-index:25;
    
}

    /* hamburger menu logo */
.hamburger-logo-menu{
    position : absolute;
    top :15px;
    right:15px;
    width : 50px;
    height:50px;
    z-index:25;
    display:none;
}

.liste-nav{
    height:100%;
    width:100%;
    display:flex;
    justify-content:center;
    list-style-type: none;
    
    
    
}

.item-nav{
    font-size: 40px;
    color:#f1f1f1;
    
    text-align:center;
    align-items: center;
    margin:auto;

}

.item-nav a{
    text-decoration: none;
    color:#f1f1f1;
    margin:0 0px;
    text-transform:uppercase;
}

header nav ul li a::after{
    content:"";
    display:block;
    margin: 0 auto;
    width: 0%;
    height: 2px;
    background: #f1f1f1;
    transition: width 0.2s ease-in-out;
}

header nav ul li a:hover::after{
    width:100%;
    height:3px;
}

/*--- responsive de la nav voir accueil--- */






/*section accueil*/


.accueil{
    padding-top:1px;
    width:100%;
    height:10000px;
    min-height:500px;
    max-height:1062.95px;
    background-image:url(Logos/city1.jpg);
    background-position:center;
    background-repeat:no-repeat;
    background-size:cover;
    border-bottom: 10px solid #777;
}




/*--logo symbolisant un câble de télécoms--*/



.O{

    width: 455px;
    height: 455px;
    margin : 180px auto 0;
    background-color: black;
    border-radius:999999px;
    display:flex;
    justify-content: center;
    align-items: center;

}


.O .div1{
    width:175px;
    height:175px;
    background-color: blue;
    border-radius:999999px;
    
    

    
  }

.O .div2{
    width:175px;
    height:175px;
    background-color:yellow;
    border-radius: 9999999px;
   
}

.O .div3{
    width:175px;
    height:175px;
    padding-top:3px;
    background-color: white;
    border-radius:999999px;
   
}

.O .div4{
    width:175px;
    height:175px;
    background-color:rgb(168, 114, 52);
    border-radius:999999px;
    
}

.O .inner{
    width:168px;
    height:168px;
    padding-top: 3px;
    margin-left:3px;
    border-radius: 999999px;
    background-color:black;
    display:flex;
    justify-content: center;
    align-items: center;
    
}

.div11{
    
    width:63px;
    height:63px;
    border-radius:999999px;
    background-color:blue;

}

.div12{
    width:63px;
    height:63px;
    border-radius:999999px;
    background-color: yellow;
}

.div13{
    width:63px;
    height:63px;
    border-radius: 999999px;
    background-color: white;
}

.div14{
    width:63px;
    height:63px;
    border-radius: 999999px;
    background-color: rgb(168, 114, 52);
}

/*--Logo en toutes lettres--*/
.logo{
    color:rgb(60, 100, 175);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 180px;
    font-weight: 900;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000, 8px 8px 8px orange;
    display:table;
    margin: 0px auto;
     
    
}



/* ---- responsive de accueil et de la nav ---- */

@media screen and (max-width:1435px) {
    .logo{
        font-size:12.5vw;
    }

}

@media screen and (max-width:1254px){
    .liste-nav{
        display:none;
    }
    .hamburger-logo-menu{
        display:block;
    }
    .liste-nav{
        padding-top:70px;
        flex-direction: column;
        height:auto;
        position:relative;
        display:none;
        background-color:black;
    }

    .liste-nav.active{
        display:block;
    }
}

@media screen and (max-width:700px){

    .accueil{
        padding-top:1px;
        width:100%;
        height:10000px;
        min-height:500px;
        max-height:500px;
        background-image:url(Logos/city1.jpg);
        background-position:center;
        background-repeat:no-repeat;
        background-size:cover;
        border-bottom: 10px solid #777;
    }

    .O{

        width: 65px;
        height: 65px;
        margin : 180px auto 0;
        background-color: black;
        border-radius:999999px;
        display:flex;
        justify-content: center;
        align-items: center;
    
    }
    
    
    .O .div1{
        width:25px;
        height:25px;
        background-color: blue;
        border-radius:999999px;
        
        
    
        
      }
    
    .O .div2{
        width:25px;
        height:25px;
        background-color:yellow;
        border-radius: 9999999px;
       
    }
    
    .O .div3{
        width:25px;
        height:25px;
        padding-top:0.5px;
        background-color: white;
        border-radius:999999px;
       
    }
    
    .O .div4{
        width:25px;
        height:25px;
        background-color:rgb(168, 114, 52);
        border-radius:999999px;
        
    }
    
    .O .inner{
        width:24px;
        height:24px;
        padding-top: 0.2px;
        margin-left:0.35px;
        border-radius: 999999px;
        background-color:black;
        display:flex;
        justify-content: center;
        align-items: center;
        
    }
    
    .div11{
        
        width:9px;
        height:9px;
        border-radius:999999px;
        background-color:blue;
    
    }
    
    .div12{
        width:9px;
        height:9px;
        border-radius:999999px;
        background-color: yellow;
    }
    
    .div13{
        width:9px;
        height:9px;
        border-radius: 999999px;
        background-color: white;
    }
    
    .div14{
        width:9px;
        height:9px;
        border-radius: 999999px;
        background-color: rgb(168, 114, 52);
    }
    

}
@media screen and (max-with:360px) {

    .item-nav{
        font-size: 10vw;
    }
    
}




/* Section asymétrique */


.section-asymetrique{
    display:grid;
    grid-template: 200px repeat(4, auto)  / 1fr 600px 1fr;
    background-color: #f1f1f1;
}


.section-asymetrique h2{
    grid-area: 1 / 1 / 2 /-1;
    display:flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    text-transform:uppercase;
    padding-bottom:20px;
}

/*---- Placement des éléments----*/

.bloc-1, 
.img-grid-1{
    grid-area: 2 / 2 / 3 / 3;
}

.bloc-right,
.img-grid-2{
    /*deb row deb col fin row fin col*/
grid-area: 3 / 2 / 4 / 3;
}

/*rajouté le 31/10/2022*/
.bloc-3, 
.img-grid-3{
    grid-area : 4/2/5/3;
}

.bloc-4,
.img-grid-4{
    grid-area : 5/2/6/3;
}

/*fin rajout*/


.bloc{
    background:rgb(60, 100, 175);
    color:#f1f1f1;
    position: relative;
    border-radius:2px;
    height:750px;
    margin-bottom:250px;
}

.img-grid{
    width: 500px;
    height: 700px;
    object-fit: cover;
    position: relative;
}

.img-grid-1, 
.img-grid-3{
    top: 130px;
    left : 20px;
}


.bloc-left{
    left:-300px;
}

.bloc-txt-left{
    width:50%;
    height: 100%
}

.bloc-txt-left h3 {
    white-space: nowrap;
    font-size: 35px;
    margin: 30px 15px;
}

.bloc-txt-left p {
    line-height: 40px;
    padding:15px;
    font-size: 30px;
    text-transform: uppercase;
}

.bloc-txt-left ul{
    font-size: 25px;
    list-style-type: disc;
    margin-left:35px
    
}

.bloc-txt-left ul li {
    padding: 10px;
}



.bloc-right{
    right:-300px;
}

.img-grid-2,
.img-grid-4{
    top:130px;
    left:100px;
}

.bloc-txt-right{
    position:absolute;
    right:0;
    width : 50%;
    height:100%;

}

.bloc-txt-right h3{
   
    position:relative;
    font-size: 35px;
    margin:30px 15px;
}

.bloc-txt-right p {
    line-height: 40px;
    padding:15px;
    font-size: 25px;
    text-transform: uppercase;
}

.bloc-txt-right ul{
    font-size: 20px;
    list-style-type: disc;
    margin-left:35px;
    margin-right: 10px;

    
}

.bloc-txt-right ul li{
    padding: 5px;
}

.bloc-txt-right button{
    padding: 25px;
    border-radius: 99999px;
    background-color: blue;
    color:#f1f1f1;
    border:1px solid #333;
    display : block;
    cursor:pointer;
    margin:auto;
}

.bloc-txt-left button{
    margin :2px auto;
    padding: 25px;
    border-radius: 999999px;
    border:1px solid #333;
    outline:none;
    background-color: blue;
    color: #f1f1f1;
    cursor: pointer;
    display:block;
    }

.bloc-txt-left button:hover, .bloc-txt-right button:hover{
   background-color: rgb(97, 97, 243);
}

/* lignes verticales */

.ligne-gauche{
    grid-area: 1/2/-1/3;
    border-left: 1px solid #333;
}

.ligne-droite{
    grid-area: 1/3/-1/4;
    border-left: 1px solid #333;
}

/* responsive de la partie asymétrique */

@media screen and (max-width:1200px)
{
    
    .section-asymetrique{
        
        grid-template: 200px repeat(6 , auto) 100px / 1fr 600px 1fr;
    }

    .section-asymetrique h2{
        font-size: 50px;
        padding-bottom: 20px;
    }

    .bloc-1{

        grid-area: 2 / 2 / 3 / 3;
    }

    .img-grid-1{
        grid-area: 3 / 2 / 4 /3;
    }

    .bloc-right{
        grid-area: 4 / 2 / 5 / 3;
    }

    .img-grid-2{
        grid-area: 5 / 2 / 6 / 3;
    }

    .bloc{
        height:100%;
        margin-bottom: 0px;
    }

    .img-grid{
        position:static;
        width : 600px;
        height: 750px;
    }

    .img-grid-1, .img-grid-3{
        top:0px;
        left:0px;
    }

    .img-grid-2, .img-grid-4{
        top:0px;
        left:0px;
    }

    .bloc-left{
        left:0px;
    }
    .bloc-right{
        right:0px;
    }

    .bloc-txt-left{
        width:100%;
        height:100%;
    }

    
    .bloc-txt-left h3,
    .bloc-txt-right h3{
        text-align:center;
    }

    .bloc-txt-left p,
    .bloc-txt-right p {
        line-height:1.8;
        padding:15px;
    }

    .bloc button {
        font-size: 20px;
        padding:15px 30px;
        margin-bottom: 30px;
    }

    .bloc-txt-right {
        position:static;
        width: 100%;
        height:100%;
    }

 }


 @media screen and (max-width:600px) {
    
    .section-asymetrique{
        grid-template: 150px repeat(6,auto) 100px/ 100%;
    }

    .ligne-gauche, .ligne-droite{
        display:none;
    }

    .section-asymetrique h2 {
        font-size: 30px ;
    }

    .bloc, .img-grid{
        grid-area:auto;
    }

    .img-grid{
        width:100%;
        height:500px;
    }

    .bloc-txt-right{
        width:100%;
    }



 }


 /* ---  section parallaxe ---*/

.parallaxe{
    width : 100%;
    height : 300px;
    background : url(logos/network.jpg);
    background-position: center;
    background-attachment: fixed;

}


/* ---- Section partenaires ---*/

.partenaires{
    display: grid;
    grid-template : 100px repeat(4,200px) 100px /repeat(5,1fr);
}

.partenaires h2{
    grid-area:2/3/2/4;
    font-size: 50px;
    display: block;
    margin:auto;
    text-align: center;
    text-transform:uppercase;

}
.partenaires .circet{
    grid-area: 3/2/3/4;
    display:flex;
    flex-direction:row;


}

.logo-circet{
     width:300px;

}
.logo-SFR{
    top:25px;
    left:25px;
    width:200px;
  
}


.partenaires .proretel{
    grid-area: 3/4/3/4;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction:row;

}

.partenaires .franceactive{
    grid-area: 5/1/6/2;
}

.partenaires .laregion{
    grid-area: 5/3/6/4;
}

.partenaires .initiativefrance{
    grid-area: 5/5/6/6;
}

.logo-proretel{
    width:200px;
}

.logo-orange{
    width:200px;
}
.logo-franceactive{
    margin-left:200px;
    width:300px;
}
.logo-laregion{
    margin-top : -70px;
    margin-left:170px;
    width:300px;
}

.logo-initiativefrance{
    margin-left:170px;
    width:300px;
}

/*---responsive de la partie partenaires ---*/


@media screen and (max-width:2000px) {

    .partenaires {

        display:flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

    }

    .partenaires h2{
        padding: 40px;
    }

    .logos{
        width: 200px;
        padding-top: 50px;
        padding-bottom:50px;
    }
    
}

@media screen and (max-width:450px) {

    .partenaires h2{
        font-size: 10vw;
    }
    .circet{
        display:flex;
        align-items: center;
    }

    .logos{
        width: 30vw;
    }
    .logo-circet{
        width: 30vw;
    }

    .logo-SFR{
        width:30vw;
        height:30vw;
    }

    .logo-laregion{
        margin:0px;
        width : 70vw;
    }
   

    .logo-franceactive{
        margin-left:0px;
        width:70vw;
    }
    .logo-initiativefrance{
        margin-left:0px;
        width:70vw;
    }
}


/*-----Footer et adresse ----*/

/*section footer*/

footer{
    width:auto;
    height:250px;
    background-color: #fff;
    text-align:center;
}



.footer-logo{
    padding-top: 40px;
    margin:auto;
    color:rgb(60,100,175);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 50px;
    font-weight: 900;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000, 4px 4px 4px orange;
    display:table;
}

.footer-logo img{
    height:43.5px;
    vertical-align: -8%;
}
.sous-titre{
    margin:auto;
    color:rgb(60,100,175);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    font-weight: 900;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000, 4px 4px 4px orange;

}
/*---- responsive du footer---- */
@media screen and (max-width:380px){

    .footer-logo{
        font-size: 9vw;
    }
    .footer-logo img{
        height:9vw;
    }
    .sous-titre{
        font-size: 4vw;
        left : 12vw;
    }
}



address{
    padding:40px;
    font-size: 20px;
}