html {
    font-size: 62.5%;
}

*,::before, ::after {
  box-sizing:border-box;
    margin:0px;
    padding:0px;
}

.logo{
    color:blue;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 250px;
    font-weight: 900;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000, 8px 8px 8px orange;
    
}



.O{

    width:650px;
    height:650px;
    background-color: black;
    border-radius:999999px;
    display:flex;
    justify-content: center;
    align-items: center;

}


.O .div1{
    width:250px;
    height:250px;
    background-color: blue;
    border-radius:999999px;
    
    

    
  }

.O .div2{
    width:250px;
    height:250px;
    background-color:yellow;
    border-radius: 9999999px;
   
}

.O .div3{
    width:250px;
    height:250px;
    background-color: white;
    border-radius:999999px;
   
}

.O .div4{
    width:250px;
    height:250px;
    background-color:rgb(168, 114, 52);
    border-radius:999999px;
    
}

.O .inner{
    width:240px;
    height:240px;
    padding-top: 5px;
    margin-left:5px;
    border-radius: 999999px;
    background-color:black;
    display:flex;
    justify-content: center;
    align-items: center;
    
}

.div11{
    
    width:90px;
    height:90px;
    border-radius:999999px;
    background-color:blue;

}

.div12{
    width:90px;
    height:90px;
    border-radius:999999px;
    background-color: yellow;
}

.div13{
    width:90px;
    height:90px;
    border-radius: 999999px;
    background-color: white;
}

.div14{
    width:90px;
    height:90px;
    border-radius: 999999px;
    background-color: rgb(168, 114, 52);
}

